[Desktop Entry]
Name=Help
Name[ru]=Помощь
Type=Application
Exec=assistant -collectionFile /usr/share/doc/fly/qthelp/ru/flyhelp.qhc -showUrl qthelp://flyhelp.ru/doc/index.html
Icon=help-browser
Categories=Utility
X-FLY-IconContext=Applications
X-Fly-OriginFile=/usr/share/applications/fly-help.desktop
