[Desktop Entry]
Name=Environment Variables
Name[ru]=Переменные окружения
Type=Application
Comment=Add, edit and remove environment variables
Comment[ru]=Добавление, изменение и удаление переменных окружения
Exec=fly-admin-env
Icon=utilities-terminal
Categories=Settings
X-SuSE-YaST-Group=System
X-SuSE-YaST-RootOnly=false
X-Fly-OriginFile=/usr/share/applications/fly-admin-env.desktop
