[Desktop Entry]
Name=PulseAudio Volume Control
Name[ru]=Регулятор громкости PulseAudio
GenericName=Adjust volume levels and select audio devices
GenericName[ru]=Отрегулируйте уровень громкости и выберите аудиоустройства
Type=Application
Comment=Adjust volume levels and select audio devices
Comment[ru]=Отрегулируйте уровень громкости и выберите аудиоустройства
Exec=pavucontrol-qt
Icon=multimedia-volume-control
StartupNotify=true
Categories=Qt;AudioVideo;Audio;Settings;DesktopSettings
Version=1.0
Comment[ar]=ضبط مستويات الصوت وحدد أجهزة الصوت
Comment[bg]=Регулиране на нивата на звука и избор на аудио устройства
Comment[ca]=Ajusta els nivells de volum i selecciona dispositius d'àudio
Comment[cs]=Úprava úrovně hlasitosti a výběr zvukových zařízení
Comment[da]=Juster lydstyrken og vælg lydenheder
Comment[el]=Ρύθμιση των επιπέδων έντασης και επιλογή των συσκευών ήχου
Comment[es]=Ajustar los niveles de volumen y seleccionar los dispositivos de audio
Comment[et]=Seadista heli valjust ning vali audioseadmeid
Comment[fr]=Régler les niveaux de volume et sélectionner les périphériques audio
Comment[gl]=Axusta os niveis de volume e selecciona dispositivos de audio
Comment[he]=כוונון עוצמות השמע ובחירת התקני שמע
Comment[hi]=वॉल्यूम लेवल ठीक करें
Comment[hr]=Prilagodi razine glasnoće i odaberi audio uređaje
Comment[hu]=Hangerő beállítása
Comment[it]=Regola i livelli del volume e seleziona i dispositivi audio
Comment[ja]=音量レベルの調整とオーディオデバイスを選択します
Comment[kk]=Дыбыс деңгейін басқарып, аудио құрылғыларын таңдаңыз
Comment[ko]=음량 수준 조정 및 오디오 장치 선택하기
Comment[lt]=Reguliuoti garsio lygius ir pasirinkti garso įrenginius
Comment[nb_NO]=Juster lydstyrke og velg lydenheter
Comment[nl]=Pas volumeniveaus aan en schakel tussen audio-apparaten
Comment[oc]=Ajustar lo nivèl del volum e seleccionar los periferics àudio
Comment[pl]=Dostosuj poziomy głośności i wybierz urządzenia audio
Comment[pt]=Ajustar os níveis de volume e selecionar dispositivos de áudio
Comment[ro]=Ajustează nivelul volumului
Comment[sk]=Upraviť hlasitosť
Comment[sl]=Nastavi glasnost
Comment[tr]=Ses seviyelerini ayarlayın ve ses cihazlarını seçin
Comment[uk]=Налаштувати рівні гучності та вибрати аудіопристрої
Comment[vi]=Chỉnh mức âm lượng
Comment[zh_CN]=设备选择和调整音量
Comment[zh_TW]=調整音量與選擇音訊裝置
GenericName[ar]=ضبط مستويات الصوت وحدد أجهزة الصوت
GenericName[bg]=Регулиране на нивата на звука и избор на аудио устройства
GenericName[ca]=Ajusta els nivells de volum i selecciona dispositius d'àudio
GenericName[cs]=Přizpůsobení úrovně hlasitosti a výběr zvukových zařízení
GenericName[da]=Juster lydstyrken og vælg lydenheder
GenericName[el]=Ρύθμιση των επιπέδων έντασης και επιλογή των συσκευών ήχου
GenericName[es]=Ajustar los niveles de volumen y seleccionar los dispositivos de audio
GenericName[et]=Helitugevuse juhtimine ning audioseadmete valik
GenericName[fr]=Régler les niveaux de volume et sélectionner les périphériques audio
GenericName[gl]=Axusta os niveis de volume e selecciona dispositivos de audio
GenericName[he]=כוונון עוצמות השמע ובחירת התקני שמע
GenericName[hi]=वॉल्यूम कंट्रोल
GenericName[hr]=Prilagodi razine glasnoće i odaberi audio uređaje
GenericName[hu]=Hangerőszabályzó
GenericName[it]=Regola i livelli del volume e seleziona i dispositivi audio
GenericName[ja]=音量レベルの調整とオーディオデバイスの選択
GenericName[kk]=Дыбыс деңгейін басқарып, аудио құрылғыларын таңдаңыз
GenericName[ko]=음량 수준 조정 및 오디오 장치 선택하기
GenericName[lt]=Reguliuoti garsio lygius ir pasirinkti garso įrenginius
GenericName[nb_NO]=Juster lydstyrke og velg lydenheter
GenericName[nl]=Pas volumeniveaus aan en schakel tussen audio-apparaten
GenericName[oc]=Ajustar los nivèls de volum e seleccionar los periferics àudio
GenericName[pl]=Dostosuj poziomy głośności i wybierz urządzenia audio
GenericName[pt]=Ajustar os níveis de volume e selecionar dispositivos de áudio
GenericName[ro]=Control volum
GenericName[sk]=Ovládanie hlasitosti
GenericName[sl]=Nastavitev glasnosti
GenericName[tr]=Ses seviyelerini ayarlayın ve ses cihazlarını seçin
GenericName[uk]=Налаштувати рівні гучності та вибрати аудіопристрої
GenericName[vi]=Điều khiển Âm lượng
GenericName[zh_CN]=设备选择和音量控制
GenericName[zh_TW]=調整音量與選擇音訊裝置
Name[ar]=PulseAudio للتحكم بالصوت
Name[bg]=Контрол на звука
Name[ca]=Control del volum de PulseAudio
Name[cs]=PulseAudio ovládání hlasitosti
Name[da]=PulseAudio-lydstyrkekontrol
Name[el]=Έλεγχος έντασης του PulseAudio
Name[es]=Control de volumen de PulseAudio
Name[et]=PulseAudio helitugevuse juhtimine
Name[fr]=Contrôle du volume PulseAudio
Name[gl]=Control de volume do PulseAudio
Name[he]=בקרת עצמת השמע של PulseAudio
Name[hi]=पल्सऑडियो वॉल्यूम कंट्रोल
Name[hr]=PulseAudio kontrola glasnoće
Name[hu]=PulseAudio hangerőszabályzó
Name[it]=Controllo Volumi PulseAudio
Name[ja]=PulseAudio 音量調節 Qt
Name[kk]=PulseAudio дыбыс деңгейін басқару
Name[ko]=PulseAudio 음량 제어
Name[lt]=PulseAudio garsio reguliavimas
Name[nb_NO]=PulseAudio-lydstyrkekontroll
Name[nl]=PulseAudio-volumeregeling
Name[oc]=Contraròtle del volum de PulseAudio
Name[pl]=Kontrola PulseAudio
Name[pt]=Controlo de volume PulseAudio
Name[ro]=Control volum PulseAudio
Name[sk]=PulseAudio na ovládanie hlasitosti
Name[sl]=Nastavitev glasnosti PulseAudio
Name[tr]=PulseAudio Ses Denetimi
Name[uk]=Керування гучністю PulseAudio
Name[vi]=Điều khiển Âm lượng PulseAudio
Name[zh_CN]=PulseAudio 音量控制
Name[zh_TW]=PulseAudio 音量控制
X-Fly-OriginFile=/usr/share/applications/pavucontrol-qt.desktop
