[Desktop Entry]
Name=CPU frequency settings
Name[ru]=Настройка частот процессора
GenericName=CPU frequency settings
GenericName[ru]=Настройка частот процессора
Type=Application
Comment=Sets the frequency limits of the CPU
Comment[ru]=Установить лимиты частот
Exec=gapplication launch org.rnd2.cpupower_gui
Actions=Performance;Balanced;
Icon=org.rnd2.cpupower_gui
Terminal=false
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings
Version=1.1
Keywords=frequency;limits
Keywords[ru]=frequency;limits
Comment[el_GR]=Ορισμός ορίων συχνότητας επεξεργαστή
Comment[en]=Sets the frequency limits of the CPU
Comment[en_GB]=Sets the frequency limits of the CPU
Comment[id]=Mengatur batas frekuensi CPU
Comment[it]=Imposta i limiti di frequenza della CPU
Comment[nl]=Stelt de snelheidsbeperkingen van de cpu in
Comment[pt_BR]=Define os limites de frequência da CPU
Comment[zh_CN]=设置 CPU 的频率限制
DBusActivatable=true
GenericName[el_GR]=Ρυθμίσεις συχνότητας επεξεργαστή
GenericName[en]=CPU frequency settings
GenericName[en_GB]=CPU frequency settings
GenericName[id]=Pengaturan frekuensi CPU
GenericName[it]=Impostazioni della frequenza della CPU
GenericName[nl]=CPU-snelheidsinstellingen
GenericName[pt_BR]=Configurações de frequência da CPU
GenericName[zh_CN]=CPU 频率设置
Keywords[el_GR]=συχνότητα;όρια;
Keywords[en]=frequency;limits;
Keywords[en_GB]=frequency;limits;
Keywords[hu]=frekvencia;korlát;
Keywords[id]=frekuensi;batas;
Keywords[it]=frequenza;limiti;
Keywords[nl]=snelheid;beperkingen;
Keywords[pt_BR]=frequência;limites;
Keywords[zh_CN]=频率;限制;
Name[el_GR]=Ρυθμίσεις συχνότητας επεξεργαστή
Name[en]=CPU frequency settings
Name[en_GB]=CPU frequency settings
Name[id]=Pengaturan frekuensi CPU
Name[it]=Impostazioni della frequenza della CPU
Name[nl]=CPU-snelheidsinstellingen
Name[pt_BR]=Configurações de frequência da CPU
Name[zh_CN]=CPU 频率设置
X-Fly-OriginFile=/usr/share/applications/org.rnd2.cpupower_gui.desktop


[Desktop Action Performance]
Name=Switch to Performance profile
Exec=gapplication action org.rnd2.cpupower_gui Performance


[Desktop Action Balanced]
Name=Switch to Balanced profile
Exec=gapplication action org.rnd2.cpupower_gui Balanced
