[Desktop Entry]
Name=Spectacle
Name[ru]=Снимок экрана Spectacle
GenericName=Screenshot Capture Utility
GenericName[ru]=Создание снимков экрана
Type=Application
Comment=Screenshot capture utility
Comment[ru]=Программа для создания снимков экрана
Exec=/usr/bin/spectacle
Actions=FullScreenScreenShot;CurrentMonitorScreenShot;ActiveWindowScreenShot;RectangularRegionScreenShot;WindowUnderCursorScreenShot;
Icon=spectacle
Terminal=false
StartupNotify=false
Categories=Graphics;VectorGraphics;RasterGraphics;Screensaver
Keywords=snapshot;capture;print;screenshot;snipping;snip
Keywords[ru]=snapshot;capture;print;screenshot;snipping;snip;снимок;захват;печать;снимок экрана;скриншот
Comment[ar]=أداة التقاط صور الشاشة
Comment[az]=Ekran şəkli çəkmə aləti
Comment[ca@valencia]=Utilitat per a prendre captures de pantalla
Comment[ca]=Utilitat per a prendre captures de pantalla
Comment[cs]=Nástroj na snímání obrazovky
Comment[da]=Værktøj til skærmbilleder
Comment[de]=Dienstprogramm für Bildschirmfotos
Comment[el]=Εργαλείο λήψης στιγμιοτύπων οθόνης
Comment[en_GB]=Screenshot capture utility
Comment[es]=Utilidad de captura de pantalla
Comment[et]=Ekraanipildi tegemise tööriist
Comment[eu]=Pantaila-argazkiak atzemateko baliagarritasuna
Comment[fi]=Kuvankaappaustyökalu
Comment[fr]=Utilitaire de capture d'écran
Comment[gl]=Utilidade para facer capturas de pantalla
Comment[ia]=Utilitate de captura de instantaneo
Comment[id]=Utilitas Tangkapan Screenshot
Comment[it]=Accessorio per catturare schermate
Comment[ko]=화면 캡처 유틸리티
Comment[lt]=Ekrano kopijų darymo programa
Comment[nl]=Hulpmiddel voor het maken van een schermafdruk
Comment[nn]=Verktøy for å lagra skjermbilete
Comment[pa]=ਸਕਰੀਨਸ਼ਾਟ ਲੈਣ ਵਾਲੀ ਸਹੂਲਤ
Comment[pl]=Narzędzie do przechwytywania ekranu
Comment[pt]=Utilitário de captura de imagens do ecrã
Comment[pt_BR]=Utilitário de captura de tela
Comment[ro]=Utilitar de capturare a ecranului
Comment[sk]=Nástroj na zachytenie snímky obrazovky
Comment[sl]=Orodje za zajem zaslona
Comment[sv]=Verktyg för att ta skärmbilder
Comment[ta]=திரைப்பிடிப்பு செயலி
Comment[uk]=Програма для створення знімків екрана
Comment[x-test]=xxScreenshot capture utilityxx
Comment[zh_CN]=屏幕截取工具
Comment[zh_TW]=畫面擷取工具
GenericName[ar]=أداة لأخذ اللقطات
GenericName[az]=Ekran şəkli çəkmə aləti
GenericName[bg]=Инструмент за заснемане на екрана
GenericName[ca@valencia]=Utilitat per a prendre captures de pantalla
GenericName[ca]=Utilitat per a prendre captures de pantalla
GenericName[cs]=Nástroj na snímání obrazovky
GenericName[da]=Værktøj til skærmbilleder
GenericName[de]=Dienstprogramm für Bildschirmfotos
GenericName[el]=Εργαλείο λήψης στιγμιοτύπων οθόνης
GenericName[en_GB]=Screenshot Capture Utility
GenericName[es]=Utilidad de capturas de pantalla
GenericName[et]=Ekraani pildistamise tööriist
GenericName[eu]=Pantaila-argazkiak atzemateko baliagarritasuna
GenericName[fi]=Kuvankaappaustyökalu
GenericName[fr]=Utilitaire de capture d'écran
GenericName[gl]=Utilidade para facer capturas de pantalla
GenericName[he]=כלי לצילום מסך
GenericName[ia]=Utilitate de captura de instantaneo de schermo
GenericName[id]=Utilitas Tangkapan Screenshot
GenericName[it]=Accessorio per catturare schermate
GenericName[ko]=화면 캡처 유틸리티
GenericName[lt]=Ekrano kopijų darymo programa
GenericName[nl]=Hulpmiddel voor het maken van een schermafdruk
GenericName[nn]=Verktøy for å lagra skjermbilete
GenericName[pa]=ਸਕਰੀਨਸ਼ਾਟ ਲੈਣ ਵਾਲੀ ਸਹੂਲਤ
GenericName[pl]=Narzędzie do przechwytywania ekranu
GenericName[pt]=Utilitário de Captura de Imagens
GenericName[pt_BR]=Utilitário de captura de tela
GenericName[ro]=Utilitar de capturare a ecranului
GenericName[sk]=Nástroj na zachytenie snímky obrazovky
GenericName[sl]=Pripomoček za zajem zaslona
GenericName[sr@ijekavian]=Алатка за хватање снимака екрана
GenericName[sr@ijekavianlatin]=Alatka za hvatanje snimaka ekrana
GenericName[sr@latin]=Alatka za hvatanje snimaka ekrana
GenericName[sr]=Алатка за хватање снимака екрана
GenericName[sv]=Verktyg för att ta skärmbilder
GenericName[ta]=திரைப்பிடிப்பு செயலி
GenericName[tr]=Ekran Görüntüsü Yakalama Aracı
GenericName[uk]=Програма для створення знімків екрана
GenericName[x-test]=xxScreenshot Capture Utilityxx
GenericName[zh_CN]=屏幕截取工具
GenericName[zh_TW]=畫面擷取工具
Keywords[ar]=لقطة;صورة;طباعة;شاشة;لقطة شاشة;قصاصة;
Keywords[az]=snapshot;capture;print;screenshot;snipping;snip;ekran şəkli;çap;kəsmək;kəsik;anlıq görüntü;skrinşot;
Keywords[ca@valencia]=captura de pantalla;captura;imprimeix;impressió;
Keywords[ca]=captura de pantalla;captura;imprimeix;impressió;
Keywords[da]=snapshot;skærmbillede;capture;print;screenshot;snipping;snip;
Keywords[de]=Schnappschuss;Aufnahme;Drucken;Bildschirmfoto;
Keywords[el]=στιγμιότυπο;λήψη;εκτύπωση;οθόνη;τμήμα;κώδικα;
Keywords[en_GB]=snapshot;capture;print;screenshot;snipping;snip;
Keywords[es]=captura;capturar;imprimir;captura de pantalla;
Keywords[et]=ekraanipilt;trükkimine;ekraanihõive;
Keywords[eu]=argazkia;atzeman;inprimatu;pantaila-argazkia;guraizez moztu;guraize-ebaki;
Keywords[fi]=kuvakaappaus;kaappaa;tulosta;ruutukaappaus;leike;
Keywords[fr]=instantané;capture;impression;capture d'écran;découpage;découpe;
Keywords[gl]=captura;capturar;imprimir;captura de pantalla;recorte;recortar;
Keywords[ia]=snapshot;capture;print;screenshot;snipping;snip;
Keywords[id]=jepretan;tangkapan;cetak;screenshot;layar;guntingan;
Keywords[it]=schermata;cattura;stampa;screenshot;ritagliare;ritaglio;
Keywords[ko]=snapshot;capture;print;screenshot;snipping;snip;스냅샷;캡처;인쇄;스크린샷;스냅;
Keywords[lt]=momentinė kopija;momentine kopija;fotografuoti;padaryti;daryti;spausdinti;ekrano kopija;karpyti;screenshot;ekranvaizdis;iškirpti;iskirpti;
Keywords[nl]=momentopname;vangen;afdrukken;schermafdruk;bezig met knippen;knip;
Keywords[nn]=skjermbilete;skjermskot;utskrift;print;screenshot;utklipp;
Keywords[pa]=ਸਨੈਪਸ਼ਾਟ;ਕੈਪਚਰ ਕਰੋ;ਪਰਿੰਟ;ਸਕਰੀਨਸ਼ਾਟ;ਸਨੈਪ;ਫੋਟੋ ਖਿੱਚਣੀ;
Keywords[pl]=zrzut;migawka;przechwycenie;drukowanie;wycinek;
Keywords[pt]=fotografia;captura;imprimir;imagem;fotografia;foto;
Keywords[pt_BR]=snapshot;captura;imprimir;captura de tala;recortar;cortar;
Keywords[ro]=captură;instantaneu;imprimare;print;decupare;screenshot;snapshot;
Keywords[sk]=snímka;zachytiť;tlač;snímka obrazovky;strihanie;strihať
Keywords[sl]=snapshot;capture;print;screenshot;snipping;snip;
Keywords[sv]=ta;skriva ut;skärmbild;klippa ut;klippa;
Keywords[ta]=snapshot;capture;print;screenshot;snipping;snip;திரைப்பிடிப்பு,படமெடு,அச்சு,அச்சிடு,வெட்டு,திரைப்படம்,படம்,பதிவு
Keywords[uk]=знімок;захоплення;друк;знімок вікна;вікно;знімок екрана;екран;snapshot;capture;print;screenshot;snipping;snip;
Keywords[x-test]=xxsnapshotxx;xxcapturexx;xxprintxx;xxscreenshotxx;xxsnippingxx;xxsnipxx;
Keywords[zh_CN]=snapshot;capture;print;screenshot;snipping;snip;快照;截图;抓取;屏幕截图;截屏;抓屏;截取;
Keywords[zh_TW]=snapshot;capture;print;screenshot;snipping;snip;截圖;擷取;截圖程式
Name[ar]=لاقط الشاشة
Name[az]=Spectacle
Name[ca@valencia]=Spectacle
Name[ca]=Spectacle
Name[cs]=Spectacle
Name[da]=Spectacle
Name[de]=Spectacle
Name[el]=Spectacle
Name[en_GB]=Spectacle
Name[es]=Spectacle
Name[et]=Spectacle
Name[eu]=Spectacle
Name[fi]=Spectacle
Name[fr]=Spectacle
Name[gl]=Spectacle
Name[ia]=Spectacle
Name[id]=Spectacle
Name[it]=Spectacle
Name[ko]=Spectacle
Name[lt]=Spectacle
Name[nl]=Spectacle
Name[nn]=Spectacle
Name[pa]=ਸਪੈਕਟਾਕਲ
Name[pl]=Spectacle
Name[pt]=Spectacle
Name[pt_BR]=Spectacle
Name[ro]=Spectacle
Name[sk]=Spectacle
Name[sl]=Spectacle
Name[sr@ijekavian]=Спектакл
Name[sr@ijekavianlatin]=Spectacle
Name[sr@latin]=Spectacle
Name[sr]=Спектакл
Name[sv]=Spectacle
Name[ta]=ஸ்பெக்டக்குல்
Name[tr]=Spectacle
Name[uk]=Spectacle
Name[x-test]=xxSpectaclexx
Name[zh_CN]=Spectacle
Name[zh_TW]=Spectacle
X-DBUS-ServiceName=org.kde.Spectacle
X-DBUS-StartupType=Unique
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot,org.kde.KWin.ScreenShot2
X-KDE-Shortcuts=Print
X-Fly-OriginFile=/usr/share/applications/org.kde.spectacle.desktop


[Desktop Action FullScreenScreenShot]
Name=Capture Entire Desktop
Name[ru]=Сделать снимок всех экранов
Exec=/usr/lib/qt5/bin/qdbus org.kde.Spectacle / FullScreen false


[Desktop Action CurrentMonitorScreenShot]
Name=Capture Current Monitor
Name[ru]=Сделать снимок текущего экрана
Exec=/usr/lib/qt5/bin/qdbus org.kde.Spectacle / CurrentScreen false


[Desktop Action ActiveWindowScreenShot]
Name=Capture Active Window
Name[ru]=Сделать снимок активного окна
Exec=/usr/lib/qt5/bin/qdbus org.kde.Spectacle / ActiveWindow true false


[Desktop Action RectangularRegionScreenShot]
Name=Capture Rectangular Region
Name[ru]=Сделать снимок прямоугольной области экрана
Exec=/usr/lib/qt5/bin/qdbus org.kde.Spectacle / RectangularRegion true


[Desktop Action WindowUnderCursorScreenShot]
Name=Capture Window Under Cursor
Name[ru]=Создать снимок окна под курсором мыши
Exec=/usr/lib/qt5/bin/qdbus org.kde.Spectacle / WindowUnderCursor true false
