[Desktop Entry]
Type=Application
Exec=fly-shutdown.sh
Icon=system-log-out
Name=Exit...
Name[ru]=Завершение работы...
Categories=None;
OnlyShowIn=FLY;
X-FLY-IconContext=Actions
