[Desktop Entry]
Type=Application
Name=Menu "Start"
Name[ru]=Меню "Пуск"
Exec=FLYWM_POPUP_START_MENU
Icon=astra-simplified
X-FLY-IconContext=Emblems
OnlyShowIn=Fly;
Hidden=false
