[Desktop Entry]
Name=System kiosk
Name[ru]=Системный киоск
Type=Application
Comment=Application to organize restricted environment
Comment[ru]=Приложение для управления ограничением среды
Exec=fly-admin-kiosk
Icon=kiosk
Categories=SystemSetup;System
X-SuSE-YaST-Group=Security
X-SuSE-YaST-RootOnly=true
X-Fly-OriginFile=/usr/share/applications/fly-admin-kiosk.desktop
