[Desktop Entry]
Name=Audit Configuration
Name[ru]=Конфигурация аудита
Type=Application
Comment=Modify audit configuration
Comment[ru]=Изменить настройки аудита
Exec=su-to-root -X -c system-config-audit
Icon=system-audit-config
Terminal=false
Categories=System
Comment[as]=অডিট বিন্যাস পৰিবৰ্তন কৰক
Comment[bg]=Промяна конфигурацията на наблюдението
Comment[bn]=অডিট কনফিগারেশন পরিবর্তন করুন
Comment[bn_IN]=অডিট কনফিগারেশন পরিবর্তন করুন
Comment[bs]=Izmjeni konfiguraciju provjere
Comment[ca]=Modifiqueu la configuració de l'auditòria
Comment[cs]=Upravit nastavení auditu
Comment[da]=Redigér konfiguration for audit
Comment[de]=Modifiziere Audit-Konfiguration
Comment[el]=Τροποποίηση ρυθμίσεων ελέγχου
Comment[es]=Modificar la configuración de auditoría
Comment[et]=Muuda auditeerimise seadistust
Comment[fr]=Modifier la configuration audit
Comment[gu]=ઓડિટ રૂપરેખાંકનને બદલો
Comment[hi]=ऑडिट विन्यास बदलें
Comment[hu]=Vizsgálat belállítás változtatása
Comment[it]=Modifica la configurazione di audit
Comment[ja]=監査設定を修正
Comment[kn]=ಆಡಿಟ್ ಸಂರಚನೆಯನ್ನು ಬದಲಾಯಿಸಿ
Comment[ko]=감사 설정 수정
Comment[mai]=आडिट विन्यास बदलू
Comment[ml]=ഓഡിറ്റ് ക്രമികരണത്തില്‍ മാറ്റം വരുത്തുക
Comment[mr]=ऑडिट संयोजना संपादीत करा
Comment[nl]=Pas audit configuratie aan
Comment[or]=ସମ୍ପାଦନ ବିନ୍ୟାସକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਸੋਧ ਕੀਤੀ ਆਡਿਟ ਸੰਰਚਨਾ
Comment[pl]=Zmiana konfiguracji audytu
Comment[pt]=Modificar configuração de auditoria
Comment[pt_BR]=Modificar configuração de auditoria
Comment[sk]=Upraviť nastavenie programu audit
Comment[sr@latin]=Izmeni konfiguraciju provere
Comment[sr]=Измени конфигурацију провере
Comment[sv]=Redigera granskningskonfiguration
Comment[ta]=தணிக்கை கட்டமைப்பை மாற்று
Comment[te]=ఆ‍డిట్ ఆకృతీకరణను సవరించుము
Comment[uk]=Змінити параметри аудиту
Comment[zh_CN]=修改审查配置
Comment[zh_TW]=修改稽核組態
Name[as]=অডিটৰ বিন্যাস
Name[bg]=Конфигурация на наблюдението
Name[bn]=অডিট সংক্রান্ত কনফিগারেশন
Name[bn_IN]=অডিট সংক্রান্ত কনফিগারেশন
Name[bs]=Podešavanja provjere
Name[ca]=Configuració d'auditoria
Name[cs]=Nastavení auditu
Name[da]=Konfiguration af overvågning
Name[de]=Audit-Konfiguration
Name[el]=Ρύθμιση ελέγχου
Name[es]=Configuración de auditoría
Name[et]=Auditeerimise seadistamine
Name[fr]=Configuration Audit
Name[gu]=ઓડિટ રૂપરેખાંકન
Name[hi]=ऑडिट विन्यास
Name[hu]=Audit beállítás
Name[it]=Configurazione audit
Name[ja]=監査設定
Name[kn]=ಆಡಿಟ್ ಸಂರಚನೆ
Name[ko]=감사 설정
Name[mai]=आडिट विन्यास
Name[ml]=ഓഡിറ്റ് ക്രമികരണം
Name[mr]=ऑडिट संयोजना
Name[nl]=Audit configuratie
Name[or]=ସମ୍ପାଦନ ବିନ୍ୟାସ
Name[pa]=ਆਡਿਟ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja audytu
Name[pt]=Configuração de Auditoria
Name[pt_BR]=Configuração da auditoria
Name[sk]=Nastavenie auditu
Name[sr@latin]=Podešavanja provere
Name[sr]=Подешавања провере
Name[sv]=Granskningskonfiguration
Name[ta]=ஆய்வு கட்டமைப்பு
Name[te]=ఆడిట్ ఆకృతీకరణ
Name[uk]=Конфігурація аудита
Name[zh_CN]=审查配置
Name[zh_TW]=稽核組態
X-SuSE-YaST-Group=Security
X-SuSE-YaST-RootOnly=true
X-Fly-OriginFile=/usr/share/applications/system-config-audit.desktop
